*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

img,
picture {
  max-width: 100%;
  display: block;
}
.nav-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
nav {
  background-color: #364fc7;
  color: #fff;
  padding-bottom: 3.125rem;
  i {
    font-size: 1.875rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  ul li {
    font-size: 1.125rem;
    display: inline;
  }
  a {
    color: #dee2e6;
    text-decoration: none;
    padding: 1.25rem;
  }
}
section {
  background-color: #364fc7;
  h1 {
    color: #fff;
    font-size: 3rem;
    width: 50%;
  }
  p {
    width: 80%;
  }
  p,
  button {
    color: #dee2e6;
    font-size: 1.125rem;
  }
  button {
    background-color: #748ffc;
    border-radius: 0.3125rem;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
  }
  img {
    width: 500px;
    height: auto;
    border-radius: 10px;
  }
}
.hero-cnt {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 6.25rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.btm-section {
  h2 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}
.box-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.625rem;
    color: #868e96;
  }
}
.box-1,
.box-2,
.box-3,
.box-4 {
  width: 200px;
  height: 200px;
  border: solid 5px #748ffc;
  border-radius: 1.25rem;
}
.main-box {
  padding-top: 3.125rem;
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3.125rem;
}
.customer-q {
  background-color: #748ffc;
  .quote {
    padding-top: 100px;
    font-size: 28px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
    font-weight: bold;
    font-style: italic;
    color: #dee2e6;
    line-height: 1.5;
  }
  span {
    color: black;
    padding-left: 400px;
  }
}
.call-2-action {
  padding-top: 3.75rem;
}
.cnt {
  padding-top: 50px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color: #364fc7;
  align-items: center;
  padding-bottom: 50px;
  border-radius: 5px;
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  button {
    background-color: #748ffc;
    color: #fff;
    border-radius: 0.3125rem;
    border: solid #fff 2px;
    padding: 5px 25px;
    cursor: pointer;
  }
}
footer {
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
}
